@use "global" as *;

.page-top__button {
  position: fixed;
  z-index: 9000;
  right: rem(18);
  bottom: rem(39);
  width: rem(48);
  height: rem(48);
  cursor: pointer;
  background-image: url(/images/common/to-top.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $white;
  border-radius: 50%;
  transform: rotate(90deg);
  @include mq('md'){
    right: rem(30);
    bottom: rem(40);
    width: rem(44);
    height: rem(44);
    width: rem(80);
    height: rem(80);
  }
 
}


.page-top__button:hover{
  @include mq('md'){
    opacity: 0.8;
    transition: 0.4s ease-out;
  }
}
